body{
  margin: 0%;
}

/* input.inputBox {
  font-size: 15px;
  padding: 5px 8px 4px 8px;
  border-radius: 3px;
  border: 1px solid #666;
}

.calendarWrap {
  display: inline-block;
  position: relative;
  margin: 20px;
}

.calendarElement {
  position: absolute;
  left: 142%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
} */

input.inputBox {
  font: normal normal bold 16px/19px Lato;
  font-weight: bold;
  color: #212121;
  letter-spacing: 0px;
  padding: 5px 8px 4px 8px;
  border: 1px solid #70707038;
  opacity: 1;
  border-radius: 4px;
  cursor: pointer;
}

.calendarWrap {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.calendarElement {
  margin-top: 10px;
  display: block;
  position: absolute;
  border: 1px solid #ccc;
  z-index: 1;
  cursor: pointer;
}

.settings-button{
  width: 129px;
  height: 43px;
  border: 1px solid #70707038;
  border-radius: 4px;
  opacity: 1;
  background: none;
  font: normal normal bold 18px/22px Lato;
  letter-spacing: 0.27px;
  color: #1D1A1A;
  margin: 20px;
  margin-bottom: 0;
  cursor: pointer;
}

.filter{
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  opacity: 1;
  height: 227px;
  margin: 20px;
  padding: 20px;
  padding-top: 8px;
}

.filter > button{
  width: 205px;
  height: 41px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  opacity: 1;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: left;
  font: normal normal normal 16px/19px Lato;
  letter-spacing: 0.24px;
  color: #1D1A1A;
  background: none;
  padding-left: 20px;
  /* padding-left: 15px;
  border-left: 5px solid #136FED; */
  cursor: pointer;
}

.filter > p{
  font-family: Lato;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}